<div class="row">
<div class="col-md-6 faculty">
<h4>Sophie L. Arbefeville, PhD</h4>
Assistant Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN
</div>

<div class="col-md-6 faculty">
<h4>Michelle Dolan, MD</h4>
Associate Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
</div>
</div>

<div class="row">
    <div class="col-md-6 faculty">
        <h4>Allen M. Gown, MD</h4>

<p>Medical Director and Chief Pathologist<br/>
PhenoPath Laboratories<br/>
Seattle, Washington</p>

<p>Clinical Professor of Pathology<br/>
University of British Columbia <br/>
Vancouver, BC</p>
    </div>
    
    <div class="col-md-6 faculty">
        <h4>Betsy Hirsch, PhD </h4>
Associate Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 faculty">
        <h4>Hannah Krigman, MD </h4>
        Associate Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
    </div>
    
    <div class="col-md-6 faculty">
        <h4>Andrew Nelson, MD </h4>
        Molecular Pathology Fellow<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 faculty">
        <h4>Bharat Thyagarajan, MD </h4>

Assistant Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
    </div>
    
    <div class="col-md-6 faculty">
        
<h4>Jon Wilson, MD </h4>

Associate Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 faculty">
        <h4>Sophia Yohe, MD</h4>
Assistant Professor<br/>
Department of Laboratory Medicine and Pathology<br/>
University of Minnesota<br/>
Minneapolis, MN<br/>
    </div>    
</div>
