<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a href="/index.html" class="navbar-brand"><i class="fa fa-leaf"></i>  38<sup>th</sup> E.T. Bell Fall Pathology Symposium</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/seminar-info.html"><i class="fa fa-info-circle"></i>  Seminar Info</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
          </ul>

        </div>
    </div>
</div>