<table class="table table-striped table-bordered">
<thead><tr><th>Time</th><th>Title</th><th>Presenter(s)</th></tr></thead>
<tbody>
<tr><td>7:00 AM</td><td colspan="2"><em>Registration and Continental Breakfast</em></td></tr>
<tr><td>7:50 AM</td><td>Opening Remarks</td><td>Jon Ritter, MD</td></tr>
<tr><td>8:00 AM</td><td> Cytogenetics on the Use of Non-Tumor Applications</td><td>Betsy Hirsch, PhD</td></tr>
<tr><td>8:30 AM</td><td> Cytogenetics on the Use in Tumor Applications</td><td>Michelle Dolan, MD</td></tr>
<tr><td>9:00 AM</td><td><a href="files/Bell2013-03-Wilson-Neuropath.pdf">Molecular Pathology Uses in Neuropathology <i class="fa fa-file"></i></a></td><td>Jon Wilson, MD </td></tr>
<tr><td>9:30 AM</td><td><a href="files/Bell2013-04-Wilson-Sarcoma.pdf">Applications of Molecular Pathology to Soft Tissue Pathology <i class="fa fa-file"></i></a></td><td>Jon Wilson, MD </td></tr>
<tr><td>10:00 AM</td><td colspan="2"> <em>Break</em></td></tr>
<tr><td>10:30 AM</td><td><a href="files/Bell2013-05-Nelson.pdf">Molecular Pathology Application in Breast Pathology <i class="fa fa-file"></i></a></td><td>Andrew Nelson, MD </td></tr>
<tr><td>11:45 AM</td><td><a href="files/Bell2013-06-Gown.pdf">Next Generation Immunohistochemistry: A Window Onto the Molecular Biology of Tumors <i class="fa fa-file"></i></a></td><td> Allen M. Gown, MD </td></tr>
<tr><td>12:00 PM</td><td colspan="2"> <em>Lunch Break</em>
<tr><td>1:15 PM</td><td><a href="files/Bell2013-07-Thyagarajan.pdf">Development of Next-Generation Sequencing Panels for Routine Clinical Applications <i class="fa fa-file"></i></a></td><td>Bharat Thyagarajan, MD </td></tr>
<tr><td>2:00 PM</td><td><a href="files/Bell2013-08-Krigman.pdf"> Thyroid FNA: Current Practice and Emerging Role of Molecular Analysis <i class="fa fa-file"></i></a></td><td>Hannah Krigman, MD<br/> Andrew Nelson, MD</td></tr>
<tr><td>2:30 PM</td><td><a href="files/Bell2013-09-Arbefeville.pdf">Molecular Diagnosis of Infections <i class="fa fa-file"></i></a></td><td>Sophie S Arbefeville, PhD </td></tr>
<tr><td>3:00 PM</td><td colspan="2"> <em>Break</em></td></tr>
<tr><td>3:30 PM</td><td><a href="files/Bell2013-10-Yohe.pdf">State of Practice of Molecular Pathology in Hemepath <i class="fa fa-file"></i></a></td><td> Sophia Yohe, MD</td></tr>
<tr><td>4:30 PM</td><td> Ernst Award and Closing Remarks</td><td> John Crosson, MD</td></tr>
<tr><td>4:45 PM</td><td colspan="2"> <em>Adjournment</em></td></tr>
</tbody>
</table>